body {
	background-color: #fff;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	}

/******Styles in Common******/

header, main, footer {
	text-align: center;
	width: 100%;
	}

/******************/
/* Header *********/
/******************/

header h1, h2 {
	font-family: 'Playfair Display', serif;
	}

header h1 {
	font-size: 4em;
	}

header h2 {
	font-size: 1em;
	position: relative;
	text-transform: uppercase;
	top: -40px;
	}

/******************/
/* Navigation *********/
/******************/

nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0.5em 0;
}

nav ul li a{
	color: #000;
	padding: 2em 1em;	
	text-decoration: none;
	text-transform: uppercase;
	}

nav ul li a:hover {
	text-decoration: underline;
	}