body {
  background-color: #fff;
  color: #010101;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}

/****************************/
/* STYLES IN COMMON *********/
/****************************/
header,
main,
footer {
  text-align: center;
}

main section h3,
footer h3 {
  border-radius: 5px;
  display: inline;
  font-size: 2em;
  padding: 0 25px;
  position: relative;
  text-transform: uppercase;
  top: -30px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
main section {
  width: 100%;
}
main section p {
  padding: 50px 50px 80px;
}

span {
  display: inline-block;
  margin: 4px;
  text-transform: uppercase;
}

/******************/
/* Header *********/
/******************/
header {
  font-family: "Playfair Display", serif;
}
header h1 {
  font-size: 4em;
}
header h2 {
  font-size: 1em;
  position: relative;
  text-transform: uppercase;
  top: -40px;
}

/******************/
/* About **********/
/******************/
#about {
  background-color: #4db0ca;
  color: #fff;
  margin-top: 50px;
}
#about h3 {
  background-color: #4db0ca;
}
#about span {
  border: 1px solid #1d4377;
  color: #1d4377;
  padding: 0 2px;
}

/******************/
/* Projects *******/
/******************/
#projects {
  background-color: #1d4377;
  color: #bcbcbc;
}
#projects h3 {
  background-color: #1d4377;
}

#projects-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#projects-container .image-project {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 0;
  width: 80%;
}
#projects-container .image-project a {
  color: #bcbcbc;
  font-size: 1.5em;
  text-decoration: none;
}
#projects-container .image-project a:hover {
  text-decoration: underline;
}
#projects-container .image-project a img {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}
#projects-container .image-project .image-tags {
  margin-top: 10px;
  text-transform: uppercase;
}
#projects-container .image-project .image-tags span {
  border: 1px solid #bcbcbc;
  color: #bcbcbc;
  padding: 0 2px;
}

#projects #show-link {
  background-color: #4db0ca;
  color: #010101;
  display: flex;
  justify-content: center;
  margin: 100px auto 150px;
  padding: 20px 0;
  text-decoration: none;
  width: 30%;
}
#projects #show-link:hover {
  border: 1px solid #bcbcbc;
  color: #fff;
  margin-bottom: 148px;
}

/******************/
/* Skills *********/
/******************/
#skills {
  background-color: #bcbcbc;
  color: #010101;
}
#skills h3 {
  background-color: #bcbcbc;
}

#skills p span {
  border: 1px solid #010101;
  padding: 10px;
}
#skills p .skills-good {
  font-size: 3em;
}
#skills p .skills-good:hover {
  background-color: #797979;
  color: #fff;
}
#skills p .skills-average {
  font-size: 2em;
}
#skills p .skills-average:hover {
  background-color: #1d4377;
  color: #fff;
}
#skills p .skills-basic {
  font-size: 1em;
}
#skills p .skills-basic:hover {
  background-color: #d7a350;
  color: #fff;
}

/******************/
/* Footer *********/
/******************/
footer {
  background-color: #010101;
  color: #bcbcbc;
  display: flex;
  justify-content: center;
}
footer h3 {
  background-color: #010101;
}
footer p {
  padding: 50px 50px 80px;
}
footer p a {
  color: #bcbcbc;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

/******************/
/* Media Queries **/
/******************/
/* 1-COLUMNS LAYOUT */
@media only screen and (min-width: 0px) and (max-width: 649px) {
  #skills p .skills-good:hover,
  #skills p .skills-average:hover,
  #skills p .skills-basic:hover {
    background-color: #bcbcbc;
    color: #010101;
  }
}
/* 2-COLUMNS LAYOUT */
@media only screen and (min-width: 650px) and (max-width: 950px) {
  main section p {
    padding: 100px 50px;
  }

  #projects-container .image-project {
    width: 45%;
  }
  #projects-container .image-project a img {
    opacity: 1;
    width: 90%;
  }
  #projects-container .image-project a img:hover {
    opacity: 0.3;
    transition: opacity 0.2s ease-out;
  }
}
/* 3-COLUMNS LAYOUT */
@media only screen and (min-width: 951px) and (max-width: 1500px) {
  main section p {
    padding: 120px 50px;
  }

  #projects-container .image-project {
    width: 30%;
  }
  #projects-container .image-project a img {
    opacity: 1;
    width: 90%;
  }
  #projects-container .image-project a img:hover {
    opacity: 0.3;
    transition: opacity 0.2s ease-out;
  }
}
/* 4-COLUMNS LAYOUT */
@media only screen and (min-width: 1501px) and (max-width: 3000px) {
  body {
    font-size: 18px;
  }

  main section p {
    padding: 150px 50px;
  }

  #projects-container .image-project {
    opacity: 1;
    width: 23%;
  }
  #projects-container .image-project a img {
    width: 80%;
  }
  #projects-container .image-project a img:hover {
    opacity: 0.3;
    transition: opacity 0.2s ease-out;
  }
}
